[submodule "dimiLFM-server"]
	path = dimiLFM-server
	url = git@github.com:CraftyDragon678/dimiLFM-server.git
[submodule "dimiLFM-web"]
	path = dimiLFM-web
	url = git@github.com:CraftyDragon678/dimiLFM-web.git
